confdir /etc/privoxy
logdir /tmp
actionsfile match-all.action
actionsfile default.action
actionsfile user.action
filterfile default.filter

# The HTTP proxy is reachable only on the Compose-internal privacy network.
listen-address 0.0.0.0:8118
forward-socks5t / 127.0.0.1:9050 .

toggle 1
enable-remote-toggle 0
enable-edit-actions 0
enforce-blocks 0
logfile /dev/stdout
